{{ define "main" }}

<!-- banner -->
{{ with .Params.banner }}
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="display-4 text-title pb-4">{{ .title | markdownify }}</p>
        <div class="row align-self-center justify-content-center">
          <div class="col-md-8 text-center">
            <p class= "title-p">{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /banner -->

<!-- feature -->
{{ with .Params.feature }}
{{ if .enable }}
<section class="section bg-light" id="feature">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 px-1 text-left">
        <p class="section-title Sectiontitle-p text-left">{{ .title | markdownify }}</p>
      </div>
      {{ range .feature_item }}
      <div class="col-md-6 col-sm-6 mb-6 feature-content">
        <div class="text-left px-1">
          <h4 class="mb-2 ">{{ .name | title }}</h4>
          <p class="common-p pr-5">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->

<!-- marketbroker -->
{{ with .Params.marketbroker }}
<section class="section bg-dark" id="marketbroker">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 px-1 text-left">
        <p class="section-title Sectiontitle-p text-left">{{ .topic | markdownify }}</p>
      </div>
      <div class="col-md-5 order-1 order-md-1 align-self-center px-0">
        <div class="row justify-content-center px-1 ">
          <div class="col-12 text-left">
            <h3 class="section-title mb-3">{{ .title | markdownify }}</h2>
            <p class="common-p">{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-7 order-2 order-md-2 mb-4 mb-md-0">
      {{ range .service_item }}
        <div class="row pb-5">
          <div class="col-md-5 mb-5 mb-md-0">
            {{with .image}}<img src="{{ . | relURL }}" alt="" class="img-fluid" >{{end}}
          </div>
          <div class="col-md-7">
            <div class="text-left">
            <h3 class="mb-1">{{ .title | title }}</h4>
            <p class="common-p">{{ .content | markdownify }}</p>
          </div>
          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /marketbroker -->

<!-- cryptoasset -->
{{ with .Params.cryptoasset }}
<section class="section bg-light" id="cryptoasset">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 px-1 text-left">
        <p class="section-title Sectiontitle-p text-left">{{ .topic | markdownify }}</p>
      </div>
    <div>
    <div class="row justify-content-center mx-0 px-1">  
    {{ range $i,$p := .service_item }}
    {{if modBool $i 2}}
      <div class="col-md-6 col-sm-6 mb-6 feature-content pr-3">
        <div class="text-left">
          <h4 class="mb-2 ">{{ .title | title }}</h4>
          <p class="common-p">{{ .content | markdownify }}</p>
          <div class="col-md-6 mb-6 px-1">
            {{with .image}}<img src="{{ . | relURL }}" alt="" class="img-fluid" >{{end}}
          </div>
        </div>
      </div>
    {{ else }}
      <div class="col-md-6 col-sm-6 mb-6 feature-content">
        <div class="text-left">
          <div class="col-md-6 mb-6 px-1 pb-3">
            {{with .image}}<img src="{{ . | relURL }}" alt="" class="img-fluid" >{{end}}
          </div>
          <h4 class="mb-2 ">{{ .title | title }}</h4>
          <p class="common-p">{{ .content | markdownify }}</p>
        </div>
      </div>
    {{ end }}
    {{ end }}
    </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /cryptoasset -->

<!-- nft -->
{{ with .Params.nft }}
<section class="section bg-dark" id="nft">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 px-1 text-left">
        <p class="section-title Sectiontitle-p text-left">{{ .topic | markdownify }}</p>
      </div>
      <div class="col-12 px-0">
        <div class="col-md-9 order-1 order-md-1 px-1">
          <div class="row justify-content-center">
            <div class="col-12 text-left">
              <p class="common-p">{{ .content | markdownify }}</p>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="row justify-content-center"> 
        
        {{ range .service_item }}
          <div class="col-md-4 order-md-3 mb-3 mb-md-0">
            <div class="text-center pt-4">
              <h4 class="mb-0">{{ .title | title }}</h4>
              <br>
            </div>
              
            {{with .image}}<img src="{{ . | relURL }}" alt="" class="img-fluid" >{{end}}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /nft -->

<!-- work -->
{{ with .Params.work }}
<section class="section bg-yellow" id="work">
  <div class="container">
    <div class="row">
      <div class="col-md-8  px-1 text-left">
        <div class="row">
          <div class="col-12 text-left">
            <h2 class="section-title">{{ .title | markdownify }}</h2>
          </div>
        </div>
        <div class="col-lg-12  px-1 text-left">
          <p class="work-p">{{ .content | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-4 justify-content-center align-self-center">
        {{ if .enable }}
          <div class="row justify-content-center align-items-center">
            <a href="#" title="view open positions" class="btn btn-primary">view open positions</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /work -->

<!-- contact -->
{{ with .Params.contact }}
<section class="section bg-light" id="contact">
  <div class="container">
    <div class="col-lg-12 mx-auto text-center">
      <h2 class="section-title">{{ .title | markdownify }}</h2>
    </div>
    <div class="col-lg-8  mx-auto justify-content-center align-self-center text-center">
      <p class="work-p">{{ .content | markdownify }}</p>
    </div>
  </div>
</section>
{{ end }}
<!-- /contact -->

{{ end }}

